/* Header/Blog Title */
.header {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.nameOfTitle {
    font-size: 28px;
    font-weight: bolder;
}
.nameOfSubtitle {
    font-size: 18px;
    color: grey;
    font-style: italic;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

.linkOfImage {
    text-decoration: none;
    color: black;
}
.linkOfImage:hover {
    color: #3261A7;
    background-color: yellow;
    font-style: italic;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.Logo {
    margin-left: auto;
    margin-right: auto;
}

.rightSideTitle{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}