.Footer container {
    max-height: 2em;
    position:relative;
    text-align: center;
}

.Footer p {
 background-color: #3261A7;
 color: white;

}

.Footer footer {
    max-height: 2em;
    left:0;
    bottom:0;
    right:0;
}

.Footer a {
    text-decoration: none;
}

.Footer a:hover{
    color: blue;
}